.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  color: #8d6c9f;
  font-weight: 600;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px;
  }

  .logo {
    width: 5vh;
    height: auto;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      font-size: 1.2rem;

      color: #8d6c9f;
    }

    .option-link:hover {
      border-bottom: 2px solid #8d6c9f;
      cursor: pointer;
    }
  }
}
